@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Playfair";
}

h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
#root,
.App,
main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.App {
  background-color: #a8d0e6;
}

.Home {
  width: 100vw;
  height: 100vh;
  background-color: #f76c6c;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  z-index: 1;
}


  #morph {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
}

#morph2 {
  width: 100%;
  height: 100%;
  top: 100;
  left: 0;
  position: absolute;
  z-index: 0;
}

.basicInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2%;
  width: 96%;
  color: #f76c6c;
  text-transform: uppercase;
  letter-spacing: 2pt;
  z-index: 1;
}

.profilePic {
  width: 25%;
  height: auto;
  border-radius: 50%;
  align-self: flex-start;
  margin-left: 2%;
  border: solid #f76c6c 0.75pt;
}

.name {
  border-top: solid #f76c6c 0.75pt;
  border-bottom: solid #f76c6c 0.75pt;
  color: #f76c6c;
  text-align: right;
  width: 69%;
  height: min-content;
  align-self: flex-end;
  /* margin-top: 2%; */
  margin-right: 2%;
  font-size: 950%;
  font-weight: 500;
  letter-spacing: 5pt;
  z-index: 1;
}

.portfolio {
  border-bottom: solid #f76c6c 0.75pt;
  color: #f76c6c;
  width: min-content;
  height: min-content;
  align-self: flex-end;
  text-align: right;
  margin-top: 2%;
  margin-right: 2%;
  font-size: 850%;
  font-weight: 500;
  letter-spacing: 5pt;
  z-index: 1;
}

.downArrow {
  font-size: 850%;
  font-weight: 500;
  color: #f76c6c;
  padding-top: 10%;
  z-index: 1;
}

img {
  width: 50%;
}

.linksList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5%;
  opacity: 1;
}

.aboutLink,
.projectsLink,
.contactLink {
  padding: 3%;
}

h1 {
  font-size: 56pt;
  justify-self: center;
}

p {
  /* margin-left: 2%; */
  line-height: 1.4;
}

strong {
  font-size: 110%;
}

.NcNewsFront {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

